:root{
    --baclground-color: rgba(41, 41, 41, 1);
    --main-text: rgba(222, 222, 222, 1);
    --second-text: rgba(149, 149, 149, 1);
    --button-color: rgba(157, 157, 157, 1);
    --button-text-color: rgba(255, 255, 255, 1);
}

*{
    box-sizing: border-box;
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--baclground-color);
    margin: 0;
    padding: 0;
}

p, h1, h2{
    margin: 0;
}

h2{
    color: var(--main-text);
    font-size: 36px;
    font-weight: 700;
}

.main-text{
    color: var(--main-text);
}

.second-text{
    color: var(--second-text);
    font-weight: 600px;
}

a{
    text-decoration: none;
    color: var(--main-text);
}

a:hover{
    cursor: pointer;
    opacity: 0.9;
}

h1{
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 70px;
    margin-bottom: 24px;
}

.container{
    max-width: 1235px;
    margin: 0 auto;
    
}

.button{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 48px;
    background-color: var(--button-color);
    border: none;
    border-radius: 4px;
    color: var(--button-text-color);
    font-weight: 600;
    font-size: 18px;
    transition: 0.5s;
    max-width: 332px;
}
.button:hover{
    cursor: pointer;
    scale: 1.05;
}
.header{
    max-width: 100%;
    background-color: rgba(50, 50, 50, 0.7);
    height: 80px;
    margin-bottom: 150px;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

.nav-bar{
    display: flex;
    gap: 50px;
    align-items: center;
}

.hero-wrapper{
    display: flex;
    justify-content: space-between;
}

.hero-left{
    max-width: 590px;
}

.hero-text{
    font-size: 24px;
    font-weight: 600px;
    margin-bottom: 64px;
}

.hero{
    margin-bottom: 157px;
}

.arrow-work{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    gap: 32px;
}

.arrow-text{
    color: var(--main-text);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600px;
}

.arrow{
    margin-bottom: 80px;
}

.imx-max-widht{
    max-width: 612px;
    max-height: 888px;
}

.work-img-wrapper{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    gap: 20px;

}

.work-img-left, .work-img-right{
    display: flex;
    max-width: 50%;
    flex-direction: column;
    gap: 20px;
}

.work-img-right{
    margin-top: 218px;
    margin-bottom: 240px;
    gap: 20px;
}

.visual-title, .project-title, .contact-title{
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
}

.visual-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 24px;

}

.visual-wrapper img{
    max-width: 400px;
    max-height: 400px;
    border-radius: 5px;
}

.visual{
    margin-bottom: 240px;
}

.project-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 240px;
    row-gap: 20px;
}

.contact-text{
    font-size: 24px;
    color: var(--second-text);
    text-align: center;
    max-width: 479px;
    margin-bottom: 46px;
}

.contact-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact{
    margin-bottom: 120px;
}

.divader{
    width: 100%;
    border: 1px solid rgba(105, 105, 105, 1);
}

.footer{
    height: 120px;
    padding: 50px 0px;
}

.footer-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-text{
    font-size: 16px;
    font-weight: 600;
    color: var(--second-text);
}

span{
    color: var(--main-text);
}

.footer-links{
    display: flex;
    gap: 43px;
}

/* Стили для контейнера изображения */
.image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}

/* Стили для изображения */
.image-container img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}

/* Затемнение и текст */
.image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачное затемнение */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Скрываем по умолчанию */
    transition: opacity 0.3s ease;
}

/* Текст поверх картинки */
.image-container .overlay-text {
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

/* Эффект наведения */
.image-container:hover img {
    transform: scale(1.1); /* Увеличение изображения */
    filter: brightness(0.8); /* Затемнение изображения */
}

.image-container:hover .overlay {
    opacity: 1; /* Появление затемнения и текста */
}


@media (max-width:1200px) {

    body, html{
        overflow-x: hidden;
        
    }
    .hero-left{
        width: 100%;
    }
    .hero-img{
        width: 100%;
        height: auto;
    }

    .visual-wrapper{
        align-items: center;
        justify-content: center;
        flex-direction: column;
     }

     .visual-img{
        width: 50%;
        height: auto;
     }

     .project-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-wrapper img{
        width: 50%;
    }

   h2, h3, h4, h5{
        font-size: 5vw;
    }

    
}

@media (max-width:720px) {
    
    h1{
        font-size: 32px;
        line-height: 40px;
    }

    .hero-text, .contact-text{
        font-size: 20px;
    }
}

@media (max-width:550px) {
    .work-img-right, .visual, .project-wrapper{
        margin-bottom: 120px;
    }
   
}


@media (max-width:755px) {

    .hero-wrapper{
        width: 100%;
        justify-content: center;
    }
    .hero-left{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .hero-right{
        display: none;
    }
    .hero-img{
        display: none;
    }

    .container{
        text-align: center;
    }

    .button{
        margin: 0 auto;
    }

    .footer-wrapper{
        flex-direction: column;
        gap: 20px;
    }
}